@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  background-color:#0E7490;
}

/* globals.css */
@keyframes slideinleft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slidein {
  animation: slideinleft 0.5s ease forwards;
}

